@media (max-width: 768px) {
  .my-fullcalendar .fc-toolbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .my-fullcalendar .fc-header-toolbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .my-fullcalendar .fc-daygrid-event {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }
}


.flex-column-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (min-width: 992px) {
  .flex-column-buttons {
      flex-direction: row;
      gap: 1rem;
  }
}

.panel-header {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.event-item {
  display: flex;
  flex-direction: column;
}

.fc-h-event{
  background-color: transparent !important;
  border: none !important;
}

.improved-table {
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #fafafa; 
  font-size: 0.8rem;
  padding: 0.15rem;
}

.improved-row {
  height: 1.5rem;  /* makes rows taller */
  padding: 0.15rem;
  font-size: 0.8rem;
}

.panel-client-dashboard {
  padding: 0.5rem;
  margin: 0;
}

.panel-client-dashboard .p-panel-header {
  padding: 0.75rem;
  margin: 0;
}

.panel-client-dashboard .p-panel-content {
  padding: 0.15rem;
  margin: 0;
}

.panel-client-dashboard .p-tabview-panels {
  padding: 0.15rem;
  margin: 0;
}

.panel-client-dashboard .p-card-body {
  padding: 0.35rem;
  margin: 0;
}

.panel-client-dashboard .font-medium {
  font-size: 0.8rem;
}