.coach-profile-form-container{
    width: 70%;
    min-height: 100vh;
    margin: 0 auto;
    margin-top: 10rem;
    overflow-y: unset;
}
.coach-profile-form-container label{
    padding: 0;
    margin: 0;
}
.coach-profile-form .p-card-title{
    text-align: center;
}

.coach-profile-form .p-card-content{
    width: 100%;
    text-align: center;
}

.coach-profile-form .p-field{
    text-align: left;
}