.my-students-container {
    padding: 2rem;
    color: #fff;
    min-height: 100vh;
}


.create-plan-button {
    display: block;
    margin: 0 auto 2rem auto;
}

.p-datatable {
    margin: 0 auto;
    width: 100%;
}

.p-datatable th {
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* .p-datatable .p-column-header-content  */
.header-class{
    color: red;
}

.p-datatable tbody tr {
    background-color: #1e1e1e;
    color: #fff;
}

.p-datatable tbody tr:nth-child(even) {
    background-color: #2b2b2b;
}

.p-datatable tbody tr:hover {
    background-color: #3a3a3a;
}

.p-paginator {
    margin-top: 1rem;
    text-align: center;
}

.p-paginator .p-paginator-pages .p-paginator-page {
    color: #fff;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: #a626a4;
    border-color: #a626a4;
}

.p-treetable-wrapper{
    max-height: 50rem;
    overflow: auto;
}

.p-treetable .p-treetable-thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #2d2d2d; /* Ajusta según el color de fondo de tu tabla */
  }