.drag-handle {
    cursor: move;
    margin-right: 8px;
    color: #666;
}

.dragging {
    background-color: rgba(0, 0, 0, 0.05);
}

.exercise-row {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #eee;
}

.group-indicator {
    width: 4px;
    height: 100%;
    margin-right: 8px;
}

.highlighted-option {
    background: linear-gradient(135deg, #e8eaf6, #c5cae9); /* Fondo degradado en tonos índigo claros */
    border-radius: 8px; /* Bordes redondeados */
    padding: 4px 8px; /* Espaciado interno */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    font-weight: bold; /* Texto en negrita */
    color: #3f51b5; /* Color del texto en índigo */
    transition: background 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}

.highlighted-option:hover {
    background: linear-gradient(135deg, #c5cae9, #9fa8da); /* Cambio de fondo al pasar el ratón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el ratón */
}
/*
.improved-table {
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fafafa; 
    font-size: 0.8rem;
    padding: 0.15rem;
  }
  
  .improved-row {
    height: 1.5rem;  
    padding: 0.15rem;
    font-size: 0.8rem;
  }
*/

.font-medium .p-card-title {
  font-size: 1.2rem;
}